API_TESTING/node_modules
API_TESTING/package-lock.json
API_TESTING/srcs/Secret.js

FRONT/node_modules
FRONT/package-lock.json
FRONT/init.sh
FRONT/.next

BACK/node_modules
BACK/package-lock.json
BACK/init.sh

initial.sh
package.lock.json